
.ipynb_checkpoints/2.1.4 Data Exploration-checkpoint.ipynb
.ipynb_checkpoints/2.4 Property Crime-checkpoint.ipynb
.ipynb_checkpoints/2.3.4 Iterate and Evaluate Classifier-checkpoint.ipynb
.ipynb_checkpoints/2.2.7 Creating a Filter-checkpoint.ipynb
.ipynb_checkpoints/2.2.6 Naive Bayes spam filter-checkpoint.ipynb
.ipynb_checkpoints/2.1.6 Principal Components Analysis-checkpoint.ipynb
.ipynb_checkpoints/1-3-3 Present same data multiple ways-checkpoint.ipynb
.ipynb_checkpoints/1-3-6 Data Cleaning and Validation-checkpoint.ipynb
.ipynb_checkpoints/2-1-4 Data Exploration-checkpoint.ipynb
.ipynb_checkpoints/1-5-1 Narrative Analytics and Experimentation-checkpoint.ipynb
.ipynb_checkpoints/1-4-9 Guided Example-checkpoint.ipynb
.ipynb_checkpoints/2-1-8 Challenge-checkpoint.ipynb
.~2-1-8 Challenge
.ipynb_checkpoints/2-1-8 Challenge
.ipynb_checkpoints/2.1.5 Feature Engineering-checkpoint.ipynb
.ipynb_checkpoints/Example Unit 2.4.3 Assumptions of LInear Regression-checkpoint.ipynb
.ipynb_checkpoints/2.5 Validate Linear Regression-checkpoint.ipynb
.ipynb_checkpoints/Example 2.5 Test Statistics-checkpoint.ipynb
.ipynb_checkpoints/2.5 Redo Validating Linear Regression-checkpoint.ipynb
.ipynb_checkpoints/2.5 Redo Validating Linear Regression-checkpoint.ipynb
.ipynb_checkpoints/3-Copy1.1.1 Implement a Nearest Neighbor Algorithm-checkpoint.ipynb
.ipynb_checkpoints/3.1.1 Implement a Nearest Neighbor Algorithm-checkpoint.ipynb
.ipynb_checkpoints/RE
.~RE
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/2.5 Redo Validating Linear Regression-checkpoint.ipynb
.ipynb_checkpoints/3-Copy1.1.1 Implement a Nearest Neighbor Algorithm-checkpoint.ipynb
.ipynb_checkpoints/3.1.1 Implement a Nearest Neighbor Algorithm-checkpoint.ipynb
.ipynb_checkpoints/3.1.3 KNN Regression-checkpoint.ipynb
.ipynb_checkpoints/3.2.5 Random Forest-checkpoint.ipynb
.ipynb_checkpoints/Comparison-checkpoint.ipynb
.ipynb_checkpoints/Example ID3 Entropy-checkpoint.ipynb
.ipynb_checkpoints/Example 3.2.1 Decision Trees-checkpoint.ipynb
.ipynb_checkpoints/3.1.4 Model Comparison-checkpoint.ipynb
.ipynb_checkpoints/3.1.1 Implement a Nearest Neighbor Algorithm-checkpoint.ipynb
.ipynb_checkpoints/3-Copy1.1.1 Implement a Nearest Neighbor Algorithm-checkpoint.ipynb
.ipynb_checkpoints/2.5 Redo Validating Linear Regression-checkpoint.ipynb
.ipynb_checkpoints/2.5 Redo Validating Linear Regression-checkpoint.ipynb
